
/* 

********GENERAL********

*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tangerine', cursive;
    font-family: 'Ubuntu', sans-serif;
    background-color: #25a778
}


img {
    width: 100%;
}    


/* 

********MOBILE********

*/


/* 

*MENU*

*/

div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    background-color: #25a778;
    
}  

h1  {
    color: #faf2e9;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;

}  
ul li {
    display: inline-block;
    padding: 0px 12px;
    font-size: 15px;

}

a{
    color:  #faf2e9;
    text-decoration: none;

}  
a:hover {
    color: #faf2e9;
} 

.menu-icon  img{
    width: 30px;
    height: 30px;
    border-radius: 2px;
}

.menu-icon, #check {
    display: none;
}    


/* 

********MOBILE********

*/

@media (max-width:768px){
    .checkbtn{
        display: block;
}
    .menu-icon{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
}
    .nav-menu ul{
        display: block;
        position: fixed;
        top: 70px;
        left: -100%;
        background-color: #25a778;
        width: 100%;
        height: 100vh;
        right: 0;
}
    .nav-menu ul li{
        padding: 2rem;
        display: flex;
        justify-content: flex-end;
        margin: 0;
}
    .nav-menu ul li:last-child{
        background: none;
        padding: 1rem;
}
    #check:checked ~ ul{
        left: 0;
}

}   


/* 

*BANNER*

*/

.banner {
    min-width: 320px;
    margin: auto; 
    background-color: #25a778;
    width: 500px;
    height: 600px;
}     


/* 

*SECCIONES*

*/

main > section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    padding: 10% 0;

}   


.section__title {
    width: 100% ;
    color: #faf2e9;
    text-align: center;
    margin-bottom:  5%;


}   

.section__text {
    text-align: justify;
    width: 80%;
    font-weight: 600;
    justify-content: flex-end;
}      

/* 

*NOSOTROS*

*/
#section__nosotros {
    background-color: #25a778;
    color: #faf2e9;

}


/* 

*GALERIA*

*/

#section__gallery {
    background-color: #25a778;

}

.gallery__photo {
    width: 90%;
    margin: 2% 0;
    
}

img {
    border-radius: 15px;
}


/* 

*Tratamientos*

*/
#section_tratamientos {
    background-color: #25a778;
    color: #faf2e9;
    

}

/* 

*CONTACTO*

*/

#section__contactos {
    background-color: #25a778;
    
}
.section__title {
    text-align: center;
    padding: 20px;
    
}

.social-links {
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
}

.social-links a {
    margin: 0 10px;
    text-align: center;
    justify-content: center;
}

.whatsapp-link {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color:  #25a778;
    color: #faf2e9;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center;
    justify-content: center;
}

.whatsapp-link:hover {
    background-color: #10724e;
}



/* 

********COMPUTADORA********

*/

@media (min-width: 1024px){ 

/* 

*SECCIONES*

*/

main > section {
    justify-content: space-around;
    padding: 3% 0;

}   

.section__title {
    margin: 2% 0;

}   

/* 

*GALERIA*

*/

.gallery__photo {
    width: 30%;

}
}

/* 

*FOOTER*

*/
footer {
    background-color: #25a778;
    color: #faf2e9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;

}

footer span {
    width: 90%;
    font-size: 12px;
    text-align: center;


}
